name: Build

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - '.github/**'
      - README.md
      - gradle.properties

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup git credentials
        uses: oleksiyrudenko/gha-git-credentials@v2
        with:
          name: 'reportportal.io'
          email: 'support@reportportal.io'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build with Gradle
        run: ./gradlew build --stacktrace

      - name: Upload built jars
        uses: actions/upload-artifact@v4
        with:
          name: build-libs
          path: build/libs/*.jar
          retention-days: 1

  upload:
    needs: build
    if: github.ref_name == 'develop' || startsWith(github.ref_name, 'feature/')
    uses: reportportal/.github/.github/workflows/upload-plugin-artifact.yaml@main
    with:
      plugin_name: ${{ github.event.repository.name }}
      branch_name: ${{ github.ref_name }}
      run_number: "${{ github.run_number }}"
    secrets: inherit
